Flask==3.1.0
openai==1.60.2
python-dotenv==1.0.1
PyPDF2==3.0.1
nltk==3.9.1
gunicorn==23.0.0
scikit-learn==1.6.1
pandas==2.2.3
joblib==1.4.2
requests==2.32.3
unittest2==1.1.0
redis==5.2.1
cachelib==0.13.0
huggingface_hub==0.28.1